*.mode1v3
*.pbxuser
build/
obj/
*.o
*.exe
.DS_Store
Debug/
Release/
html/
latex/
data/
matlab/images/
matlab/images_2/
matlab/*.mat
*.dll
*.lib
*.ncb
*.suo
*.vcproj.*

#codeblocks files
*/*/*.layout
*/*/*.depend

